body {
    background-color: #5097A4;
}

.navbar{
    position: sticky-top;
    min-width: 100% !important;
}

.navbar-brand {
    font-size: x-large;
    letter-spacing: 0.15rem;
    font-family: 'Lobster', cursive;
}

.jumbotron {
    background-image: url("aliens.jpeg");
    background-position: 50% 62%;
    height: 320px !important;
    border-radius: 0px;
}

.article-title {
    font-family: 'Syne Mono', monospace;
    justify-content: center;
}

.article-title span {
    font-size: 70%;
}

.article-paragraph {
    font-family: 'Montserrat', sans-serif;
}

#ufo-sightings {
    border-top: 1px solid #292b2c;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #5097A4, #333, #5097A4);
}

form {
    font-family: 'Syne Mono', monospace;
}

#filter-header {
    padding-left: 10px;
    letter-spacing:3px;
    font-size: 1.5rem;
}

.form-control {
    background-color:#76bfcc;
    border-color: #5097A4;
    width: 100%;
}

.list-group-item {
    background-color: #5097A4; 
}

#filter-btn {
    color: #5097A4;
}

.table th {
    font-family: 'Syne Mono', monospace;
    font-size: 1.5rem;
    font-weight: bolder;
    border-top: none;
    border-bottom: 1px solid #292b2c !important;
}

.table td {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    border: none !important;
}



